<a href="https://colab.research.google.com/github/sinchana127/student/blob/main/week01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
a=np.array([1,2,3])
b=np.array([4,5,6])
result =a+b
print(result)

[5 7 9]

# 2.map with numpy array

In [ ]:
import numpy as np
a=np.array([4,6,2])
result=list(map(lambda x:x**2,a))
print(result)

[16, 36, 4]

# 3.filter with numpy array

In [ ]:
import numpy as np
b=np.array([1,9,7,6,3])
result=list(filter(lambda x:x % 3==0,b))
print(result)

[9, 6, 3]

# 4.dataframe

In [ ]:
import pandas as pd
data={'category':['A','B','A','B','A'],
'value':[12,34,23,16,10]}
df=pd.DataFrame(data)
print(df)

  category  value
0        A     12
1        B     34
2        A     23
3        B     16
4        A     10

# 5.grouping and aggregation

In [ ]:
import pandas as pd
grouped=df.groupby('category')
result=grouped.mean()
print(result)

          value
category
A          15.0
B          25.0