<a href="https://colab.research.google.com/github/sinchana127/student/blob/main/week04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data=pd.read_csv("/content/Salary_Data1.csv")
print(data)

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0       NaN
7               3.2   54445.0
8               3.2   64445.0
9               NaN   57189.0
10              3.9   63218.0
11              4.0       NaN
12            500.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3       NaN
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9       NaN
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5       NaN
27              9.6  112635.0
28             10.3  122391.0
29              NaN  121872.0

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  28 non-null     float64
 1   Salary           25 non-null     float64
dtypes: float64(2)
memory usage: 608.0 bytes

In [ ]:
data.describe()

       YearsExperience         Salary
count        28.000000      25.000000
mean         22.900000   74511.480000
std          93.542836   27921.908201
min           1.100000   37731.000000
25%           3.150000   56642.000000
50%           5.000000   64445.000000
75%           7.975000   98273.000000
max         500.000000  122391.000000

In [ ]:
data.shape

(30, 2)

In [ ]:
data.isna().sum()

YearsExperience    2
Salary             5
dtype: int64

In [5]:
#univariate outlier
import pandas as pd
import numpy as np
df=pd.read_csv("/content/Salary_Data1.csv")
z_score=np.abs((df-df.mean())/df.std())
outliers=z_score>3
print(df[outliers])

    YearsExperience  Salary
0               NaN     NaN
1               NaN     NaN
2               NaN     NaN
3               NaN     NaN
4               NaN     NaN
5               NaN     NaN
6               NaN     NaN
7               NaN     NaN
8               NaN     NaN
9               NaN     NaN
10              NaN     NaN
11              NaN     NaN
12            500.0     NaN
13              NaN     NaN
14              NaN     NaN
15              NaN     NaN
16              NaN     NaN
17              NaN     NaN
18              NaN     NaN
19              NaN     NaN
20              NaN     NaN
21              NaN     NaN
22              NaN     NaN
23              NaN     NaN
24              NaN     NaN
25              NaN     NaN
26              NaN     NaN
27              NaN     NaN
28              NaN     NaN
29              NaN     NaN

In [10]:
import pandas as pd
data=pd.Series([10,12,15,8,500,18,20,25,30])
z_score=(data-data.mean())/data.std()
outlier=data[abs(z_score)>3]
print("Univariate outliers:",outliers)

Univariate outliers:     YearsExperience  Salary
0             False   False
1             False   False
2             False   False
3             False   False
4             False   False
5             False   False
6             False   False
7             False   False
8             False   False
9             False   False
10            False   False
11            False   False
12             True   False
13            False   False
14            False   False
15            False   False
16            False   False
17            False   False
18            False   False
19            False   False
20            False   False
21            False   False
22            False   False
23            False   False
24            False   False
25            False   False
26            False   False
27            False   False
28            False   False
29            False   False

In [3]:
#Bivariate outlier detection
from scipy.spatial.distance import mahalanobis
import numpy as np
data=np.array([[1,2],
               [2,3],
               [5,6],
               [10,15],
               [20,25]])
mean=np.mean(data, axis=0)
cov_matrix=np.cov(data, rowvar=False)
inv_cov_matrix=np.linalg.inv(cov_matrix)

outliers=[]
for point in data:
  mahalanobis_dist=mahalanobis(point,mean,inv_cov_matrix)
  if mahalanobis_dist>-1:
    outliers.append(point)
print("Bivariate outliers:", outliers)

Bivariate outliers: [array([1, 2]), array([2, 3]), array([5, 6]), array([10, 15]), array([20, 25])]

In [4]:
#Time series outlier detection
import pandas as pd
data=pd.Series([10,45,21,90,300,76,54,43,19])
rolling_mean=data.rolling(window=3).mean()
rolling_std=data.rolling(window=3).std()
outlier=data[(data-rolling_mean).abs()>2*rolling_std]
print("Time series outliers:",outliers)

Time series outliers: [array([1, 2]), array([2, 3]), array([5, 6]), array([10, 15]), array([20, 25])]

In [10]:
#Upper or Lower cap
data=pd.Series([1,12,15,18,8,500,18,20,25,30])
upper_cap=40
lower_cap=5
data_clipped=data.clip(lower=lower_cap,upper=upper_cap)
print("Data with capped outliers",data_clipped)

Data with capped outliers 0     5
1    12
2    15
3    18
4     8
5    40
6    18
7    20
8    25
9    30
dtype: int64

In [16]:
#Log transformation
import numpy as np
import pandas as pd
data=pd.Series([10,8,15,8,500,18,20,25,21])
data_log_transformed=np.log(data)
print("Log-transformed data:",data_log_transformed)

Log-transformed data: 0    2.302585
1    2.079442
2    2.708050
3    2.079442
4    6.214608
5    2.890372
6    2.995732
7    3.218876
8    3.044522
dtype: float64

In [15]:
#Remove data objects with outlier
import pandas as pd
data=pd.Series([10,12,15,8,100,87,45,34])
outliers=[100]
data_cleaned=data[~data.isin(outliers)]
print("Data with outliers removed:",data_cleaned)

Data with outliers removed: 0    10
1    12
2    15
3     8
5    87
6    45
7    34
dtype: int64